doctype 5
html(ng-app="content", lang="en")
	head
		
		title= title
		link(rel='stylesheet', href='/stylesheets/utahstyle.css')
		link(rel='stylesheet', href='/stylesheets/print.css', media='print')
		link(rel='apple-touch-icon', href='/images/favicon.icns')
		link(rel='icon', href='/images/favicon.ico')
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

	body
		div.imgBackground
			img(src="/images/uhclogo.svg", alt="University of Utah Health Care Logo", height="90", width="355")
		//- This is where all the partials are put
		block content

		div.nav
			ul
				li
					a.nav(href="/#/home") Home
				li
					a.nav(href="/#/schedule") Schedule
				li
					a.nav(href="/quick/meeting") Quick Meeting
				li
					a.nav(href="/#/about") About

		div.ribbon-wrapper
			div.ribbon
				div.ribbon-text
					i.icon &#9998;
					a(href="http://tiny.cc/0g5iyw", target="_blank") Provide Feedback

		footer
			p Service provided by
			a(href="https://doxy.me", target="_blank")
				img.doxy(src="/images/doxyme-logowhitesmall.png", alt="Doxy.me Logo", height="36", width="176")
			p Copyright © 2013 University of Utah Health Care
