div#confirmed
  h2 Your Room Information
  p Room Id: {{roomUrl}}
  p Password: {{password}}
  a(onClick='window.print()') Print
  a(href='mailto:someone@example.com?Subject=Doxy.me%20Meeting&Body=Hi%20there%21%0A%0AYou%27ve%20been%20invited%20to%20a%20meeting%20at%20doxy.me.%20Go%20to%20doxy.me%20and%20enter%20this%20room%20id:%20{{roomUrl}}%20and%20this%20password:%20{{password}}') Email