div#haveApt
  p ALREADY HAVE AN APPOINTMENT?
  label
    | PLEASE ENTER YOUR MEETING ID
    input(data-ng-model='meetingId', type='text')
  label
    | PLEASE ENTER YOUR PASSWORD
    input(data-ng-model='password', type='password')
  button BEGIN