div#schedule
  h2 Reserve Room
  input(data-ng-model='date', placeholder='mm/dd/yy')
  input(data-ng-model='time', placeholder='hh:mm')
  label
    select(data-ng-model='ampm')
      option(value='am') AM
      option(value='pm') PM
  br
  label
    | Password
    input(data-ng-model='password', type='password')
  br
  button.btn(data-ng-click='scheduleRoom()', data-ng-disabled='unavailable') Schedule Meeting
  div(data-ng-show='roomReady')
    a(data-ng-href='{{roomUrl}}', data-ng-bind='roomUrl')
    a(onClick='window.print()') Print
    a(href='mailto:someone@example.com?Subject=doxy.me%20appointment') Email
  