extends layout


block content
  //- script(src="https://swww.tokbox.com/webrtc/v2.0/js/TB.min.js")
  script(src="http://static.opentok.com/v1.1/js/TB.min.js")

  script
    var sessionId = "#{sessionId}"
    var apiKey = #{OpenTokKey}
    var token = "#{token}"
    
  script(src="/javascripts/main.js")

  div#myPublisherDiv
  
