doctype 5
html(ng-app)
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')

	body
		h1 #{title}
		ul
			li#home 
				a(href="/") Home Page
			
			li#about
				a(href="/about") about
		hr
		block content

	script(src='javascripts/lib/angular/angular.js')
