doctype 5
html(ng-app="content")
	head
		
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/fordoxy.me.css')
		link(rel='stylesheet', href='/stylesheets/print.css', media='print')
		link(rel='apple-touch-icon', href='/images/favicon.icns')
		link(rel='icon', href='/images/favicon.ico')

	body
		img(src="/images/doxyme-logo.png")
		//- This is where all the partials are put
		block content

		div.nav
			ul
				a(href="/#/home")
					li Home
				a(href="/#/schedule")
					li Schedule 
				a(href="/quick/meeting")
					li Quick Meeting
				a(href="/#/about")
					li About

		div.ribbon-wrapper
			div.ribbon
				div.ribbon-text
					i.icon &#9998;
					a(href="http://tiny.cc/0g5iyw") Provide Feedback

		footer
			p 2013 DOXY.ME ALL RIGHTS RESERVED
