doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')

	body
		h1 #{title}
		a(href="/") Home Page
		div#quickMeeting
			a(href="/meeting") quick meeting
		div#about
			a(href="/about") about
		hr
		block content