doctype 5
html(ng-app="content")
	head
		
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')

	body
		img(src="/images/doxyme-logo.png")
		//- This is where all the partials are put
		block content

		ul
			li
				a(href="/#/about") About 
			li
				a(href="/#/schedule") Schedule 
			li
				a(href="/#/home") Home
			li
				a(href="/quick/meeting") Quick Meeting

	footer
		p 2013 DOXY.ME ALL RIGHTS RESERVED
