doctype 5
html(ng-app="content")
	head
		
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/fordoxy.me.css')

	body
		img(src="/images/doxyme-logo.png")
		//- This is where all the partials are put
		block content

		div.nav
			ul
				a(href="/#/about")
					li About 
				a(href="/#/schedule")
					li Schedule 
				a(href="/#/home")
					li Home
				a(href="/quick/meeting")
					li Quick Meeting

		footer
			p 2013 DOXY.ME ALL RIGHTS RESERVED
