doctype 5
html(ng-app="content")
	head
		
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')

	body
		h1 #{title}
		
		//- This is where all the partials are put
		block content

	footer
		p 2013 DOXY.ME ALL RIGHTS RESERVED
