extends layout


block content
  script(src="https://swww.tokbox.com/webrtc/v2.0/js/TB.min.js")
  //- script(src="http://static.opentok.com/v1.1/js/TB.min.js")

  script
    var sessionId = "#{sessionId}"
    var apiKey = #{OpenTokKey}
    var token = "#{token}"
    var pathname = window.location.pathname
    var cleaned = pathname.slice(6)
    var resort = function() {
      window.location.replace('/flash/room' + cleaned)
    };
    
  script(src="/javascripts/main.js")

  div#videos
    div#streamsContainer
    div#myPublisherDiv
  
  p Has it been a while and your Dr/Patient isn't here? Maybe their browser is old and they need to use flash. Hit the button to fall back to using Flash - you really should get Google Chrome because it is a much better experiance. 
  button(onclick="resort()") Flash Fall Back