html {
	margin:0;
	padding:0;
	border:0;
}
body {
	color: #346c8c;
	background: white url('../images/background.jpg') no-repeat center center fixed; background-size: 100%; min-width:500px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  padding: 50px;
  font: 16px Helvetica, Arial, sans-serif;
}

img {
	max-width: 446px;
}

.ng-scope p {
	color:#c14543;
}
.ng-scope button {
	background-color:#c14543;
	border-radius:4px;
	color:#fff;
	border:none;
	font-size:16px;
	padding:5px 15px;
}

ul { 
	list-style: none;
	display: inline;
	padding:0px;
}
li:first {
	margin-left:0px;
}
li {
	display: inline-block;
	margin-left:10px;
	background-color:#4d5968;
	border-radius:4px;
	padding:5px 10px;
}

<<<<<<< HEAD
a {
  color: #ffffff;
  text-transform:uppercase;
  text-decoration:none;
}
=======

>>>>>>> 66989ed4185580994cd8c9bed966aa37046f7f4a

html, body { height: 100%;}



