html {
	margin:0;
	padding:0;
	border:0;
}
body {
	color: #346c8c;
	background: white url('../images/background.jpg') no-repeat center center fixed; background-size: 100%; min-width:500px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  padding: 0 50px;
  font: 1em Helvetica, Arial, sans-serif;
}

img {
	max-width: 400px;
	background-color:#d6d5d1;
	margin:0 0 50px;
	padding:50px;
}

#haveApt {
	background-color:rgba(214,213,209,0.4);
	border:4px #fff solid;
	border-radius:4px;
	text-align:center;
	max-width:520px;
}

.container {
	height: 200px;
	width: 300px;
}

#haveApt p {
	color:#c14543;
}
#haveApt button {
	background-color:#c14543;
	border-radius:4px;
	color:#fff;
	border:none;
	font-size:1em;
	padding:5px 15px;
	display:block;
	margin:10px auto;
	height:35px;
	width:100px;
}
#haveApt label:first {
	float:left;
	margin-right: 15px;
}
#haveApt label {
	float:left;
}
#haveApt input {
	display:block;
	padding:10px 20px;
	border-radius:4px;
	border:none;
	width:18em;
}

ul { 
	list-style: none;
	padding:0px;
	text-align:center;
}
li:first {
	margin-left:0px;
}
li {
	display: inline-block;
	margin-left:10px;
	background-color:#4d5968;
	border-radius:4px;
	padding:5px 10px;
}


a {
  color: #ffffff;
  text-transform:uppercase;
  text-decoration:none;
}


html, body { height: 100%;}



