div#confirmed
  h2 Your Room Information
  p Room Id: {{roomUrl}}
  p Password: {{password}}
  p {{data.date}} at {{data.time}}{{data.ampm}}
  a(href="{{link}}") Link
  a(onClick='window.print()') Print
  a(href="mailto:recipient@example.com?Subject=Doxy.me%20meeting%20invitation&Body=Hi%20there!%0D%0DYou've%20been%20invited%20to%20a%20Doxy.me%20meeting!%0D%0DOn%20{{data.date}}%20at%20{{data.time}}{{data.ampm}}%20go%20to%20{{origin}}%20and%20enter%20the%20following%20information:%0D%0DRoom%20ID:%20{{roomUrl}}%0DPassword:%20{{password}}%0D%0DOr%20simply%20click%20this%20link:%20{{origin}}{{link}}%20%0D%0DWe%20hope%20you%20have%20a%20wonderful%20experience%20using%20Doxy.me.%20If%20you%20get%20a%20chance,%20please%20let%20us%20know%20how%20it%20worked%20for%20you:%20http://tiny.cc/0g5iyw", target="_blank") Email
