div#haveApt
  div
    p ALREADY HAVE AN APPOINTMENT?
    div#aptForm
      label
        | ROOM ID:
        span
          input(data-ng-model='meetingId', type='text', size='30')
      label
        | PASSWORD:
        span
          input(data-ng-model='password', type='password', size='30')
    div.clearfix
    button.btn(data-ng-click='enterRoom()', data-ng-disabled='unavailable') BEGIN
    div(data-ng-show='testReady') {{meetingId}}
