div#about
  div Welcome to Doxy.me (pronounced "Doc see me"). Our mission is simple: to provide a simple, free, and secure way for healthcare providers to visit with their patients remotely. Give it a try, you'll see how easy it is to use.   
