doctype 5
html(ng-app="content")
	head
		
		title= title
		link(rel='stylesheet', href='/stylesheets/greenstyle.css')
		link(rel='stylesheet', href='/stylesheets/fordoxy.me.css')
		link(rel='stylesheet', href='/stylesheets/print.css', media='print')
		link(rel='apple-touch-icon', href='/images/favicon.icns')
		link(rel='icon', href='/images/favicon.ico')
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

	body
		div.imgBackground
			img(src="/images/doxyme-logo-blk-optest.png", alt="DOXY.ME Logo", width="355", height="73")
		//- This is where all the partials are put
		block content

		div.nav
			ul
				li
					a.nav(href="/#/home") Home
						i.iconHidden &#8962;
				li
					a.nav(href="/#/schedule") Schedule
						i.iconHidden &#59273;
				li
					a.nav(href="/quick/meeting") Quick Meeting
						i.iconHidden &#128101;
				li
					a.nav(href="/#/about") About
						i.iconHidden &#59170;
		
		div.supportLogos
			div
				p.main Supported Browsers:
				img.chrome(src="/images/chromelogo-sm-opt.png", alt="Supported on Chrome Version 25 and up", height="60", title="Chrome - Version 25+")
				img.firefox(src="/images/firefox_logo-sm-opt.png", alt="Support coming soon for Firefox Version 22", height="60", title="Firefox - Version 22")
				p.soon (Coming Soon)

		div.ribbon-wrapper
			div.ribbon
				div.ribbon-text
					i.icon &#9998;
					a(href="http://tiny.cc/0g5iyw", target="_blank") Provide Feedback

		footer
			div.footer
				p COPYRIGHT © 2013 DOXY.ME ALL RIGHTS RESERVED
